<loading *ngIf="isLoading && !isDataAvailable">{{ isLoading }}</loading>
<div class="main0">
    <div class="left-search">
        <h4 class="head-h4">Filter By</h4>
        <ul id="accordion" class="accordion">
            <li *ngFor="let menu of menus; let i = index" [class.active]="menu.active">
                <div class="menu" (click)="toggle(i)">
                    {{ menu.name }}
                    <i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu" #submenu [style.height.px]="menu.active ? submenu.scrollHeight : 0">
                    <li *ngFor="let submenu of menu.submenu">
                        <a [href]="submenu.url">{{ submenu.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div *ngIf="isDataAvailable" class="main-prods">
        <div class="row product-list" style="margin: 1em 0;">
            <div class="col-sm-12 col-md-6 col-lg-4 product-list__item" *ngFor="let product of dataAvail; let i = index;">
                <div class="card mb-4 shadow-sm pd-5">
                    <div class="product-list__image">
                        <img class="card-img-top" [src]="product.image" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="pro-name-sec">
                            <span class="p-name">
                                <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                                    {{ product.name }}
                                </a>
                            </span>
                            <span class="p-price">$ {{product.price}}</span>
                        </div>
                        <div class="cat-name">
                            <span class="pro-cat">{{product.category}}</span>
                        </div>
                        <div class="pro-sec-2">
                            <span class='star-rating'>
                        <i *ngFor="let s of product.range; let ind = index" class="to-display" [class]='isMarked(ind, product.rating)'></i>
                    </span>
                            <span class="p-add-s">
                        <i class="fa fa-cart-plus"></i>
                    </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-prods" *ngIf="!isDataAvailable">
        <h3 style=" text-align: center; padding: 100px;">Data Not Available</h3>
    </div>
</div>